$max-height: 100vh;
$max-height: 100lvh;
$max-height: 100dvh;
$max-height: 100svh;
$page-padding: 10px;
$page-height: calc(100vh - #{$page-padding * 2});

html, body, #root {
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 0;
}

.main {
  background-color: #e5e5e5;
  height: $page-height;
  max-height: $page-height;
  padding: 10px;
}